body {
    background-color: #fff;
}

@media screen and (min-width:401px) {
    .empty-cart {
        display: grid;
        justify-content: center;
        width: 80%;
        height: 10vh;
        display: grid;
        align-items: center;
        margin: auto;
        align-items: center;
        margin-bottom: 30em;
        margin-top: 1em;
    }
}

@media screen and (max-width:400px) {

    .empty-cart-mob img {
        width: 90%;
        display: grid;
        align-items: center;
        margin: auto;
        align-items: center;
        margin-bottom: 1em;
        margin-top: 1em;
    }
}