@media screen and (min-width:401px) {

    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    .exit {
        display: grid;
        justify-content: flex-end;
    }

    .modal-title {
        display: grid;
        justify-content: center;
    }

    .modal-inner-content {
        display: grid;
        gap: 20px;
        padding: 10px;
    }

    .inner-content {
        display: grid;
        gap: 5px;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        border-radius: 5px;
    }

    .modal-content p,
    .modal-content h2,
    .modal-content li,
    .modal-content span {
        color: #000000;
    }

    /* The Close Button */
    .close-modal {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close-modal:hover,
    .close-modal:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .carousel-main {
        margin: auto;
        width: 80%;
        position: sticky;
    }

    .owl-nav {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .owl-nav button {
        width: 1em;
        height: 25vh;
        background-color: transparent;
    }

    .owl-nav .owl-prev {
        position: absolute;
        left: .5em;
        display: block;
    }

    .owl-nav .owl-next {
        position: absolute;
        right: .5em;
        display: block;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel button.owl-dot {
        font-size: 4em;
    }

    .owl-carousel .owl-nav button.owl-next:hover,
    .owl-carousel .owl-nav button.owl-prev:hover,
    .owl-carousel button.owl-dot:hover {
        border: 2px solid rgb(255, 255, 255);
        background-color: transparent;
    }

    .blur {
        filter: blur(36px);
        z-index: 1;
        padding: 8em 59em;
        top: 93%;
        left: 50%;
        background: #d9e9f2;
        opacity: 1;
        width: 95%;
        transform: translate(-50%, -50%);
        position: absolute;
        margin: 2em 0;
    }

    .cards-row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        height: 50%;
        padding: 1px 20px;
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%);
    }

    .card {
        display: grid;
        align-content: space-between;
        height: 40vh;
        padding: 20px;
        background-color: #fff;
        overflow: hidden;
    }

    .vid {
        grid-column: 1/span 2;
    }

    .card-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .card-images-item1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: .5em;
    }

    .card-title h3 {
        color: #000000;
        font-size: 21px;
    }

    .app {
        height: 15vh;
    }

    .app-subtitle p span {
        font-size: 11px;
        color: #000000;
    }

    .vid {
        display: grid;
        align-content: center;
    }

    .vid video {
        width: 100%;
    }

    .card-product-img {
        padding: auto;
        margin: auto;
    }

    .card-product-img-item1 {
        display: grid;
        height: 16vh;
        justify-items: center;
        align-items: flex-end;
        margin: auto;
    }

    .card-product-img:hover {
        cursor: pointer;
    }

    .card-images img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .card-images-big img {
        width: 100%;
    }

    .card-images-item1 img {
        width: 50%;
        object-fit: contain;
    }

    .card-product-name {
        margin: 0 0;
    }

    .card-product-name span small {
        color: #000000;
        font-size: 11px;
    }

    .card-carousel-items .item {
        padding: 10px 0;
    }

    .carousel-product-1 {
        margin: auto;
        width: 78%;
        padding-top: 24%;
    }

    .carousel-title-1 {
        background-color: #fff;
    }

    .carousel-title-1 h3 {
        color: #000000;
        padding: 10px 10px;
    }

    #carousel-2 {
        height: 30vh;
        display: flex;
        align-items: center;
        background: #fff;
    }

    .item {
        width: 100%;
        text-decoration: none;
    }

    .item:hover {
        cursor: pointer;
    }

    .item h4 {
        background-color: firebrick;
    }

    .item h5 {
        color: firebrick;
    }

    #carousel-2 img {
        width: 100%;
        height: 20vh;
        object-fit: contain;
    }

    .offer {
        display: flex;
        justify-content: center;
        padding-top: 2em;
    }

    #carousel-2 h4,
    #carousel-4 h4 {
        display: flex;
        justify-content: center;
        color: #fff;
        padding: 4px 4px;
        font-size: 15px;
    }

    #carousel-2 h5,
    #carousel-4 h5 {
        padding: 5px 5px;
        font-size: 11px;
    }

    .carousel-product-1 #carousel2 .owl-nav {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .carousel-product-1 #carousel-2 .owl-nav button {
        align-items: center;
        margin: 57px 0px;
        background-color: #efeff9;
        height: 14vh;
        width: 3%;
        opacity: .7;
    }

    .carousel-product-1 #carousel-2 .owl-nav button span {
        color: #000000;
    }

    .carousel-product-1 #carousel-2 .owl-nav button:hover {
        color: #000000;
        border: 2px solid #1c2634;
    }

    .carousel-product-2 {
        margin: auto;
        margin-top: 1em;
        width: 78%;
    }

    #carousel-3 {
        height: 25vh;
        display: flex;
        align-items: center;
        background: #fff;
    }

    #carousel-3 img {
        width: 100%;
        height: 20vh;
        object-fit: scale-down;
    }

    #carousel .owl-nav {
        position: absolute;
        top: 55px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    #carousel .owl-nav button {
        font-size: 4em;
        background: #ffffff;
        align-items: center;
        height: 15vh;
        width: 4%;
        opacity: 0.7;
        border-radius: 5px;
    }

    #carousel .owl-nav button span {
        color: #000000;
    }

    #carousel .owl-nav button:hover {
        color: #000000;
        border: 2px solid #1c2634;
    }

    .cards-row-2 {
        margin: auto;
        margin-top: 1em;
        width: 78%;
        height: 24.5em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1em;
    }

    .card-images .big {
        width: 16em;
    }

    .carousel-product-3 {
        margin: auto;
        width: 78%;
    }

    #carousel-4 {
        height: 25vh;
        display: flex;
        align-items: center;
        background: #fff;
    }

    #carousel-4 img {
        margin-top: 5em;
        width: 100%;
        height: 20vh;
        object-fit: contain;
    }

    .carousel-product-3 #carousel-4 .owl-nav {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .carousel-product-3 #carousel-4 .owl-nav button {
        align-items: center;
        background-color: #efeff9;
        height: 14vh;
        width: 3%;
        opacity: .7;
    }

    .carousel-product-3 #carousel-4 .owl-nav button span {
        color: #000000;
    }

    .carousel-product-3 #carousel-4 .owl-nav button:hover {
        color: #000000;
        border: 2px solid #1c2634;
    }
}

/* Media Query for Mobile */
@media screen and (max-width:400px) {
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 5;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    .exit {
        display: grid;
        justify-content: flex-end;
    }

    .modal-title {
        display: grid;
        justify-content: center;
    }

    .modal-inner-content {
        display: grid;
        gap: 20px;
        padding: 10px;
    }

    .inner-content {
        display: grid;
        gap: 5px;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 95%;
        border-radius: 5px;
    }

    .modal-content p,
    .modal-content h2,
    .modal-content li,
    .modal-content span {
        color: #000000;
    }

    /* The Close Button */
    .close-modal {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .item-types {
        display: flex;
        align-items: center;
        height: 15vh;
        gap: 15px;
        overflow: auto;
        background-color: #fff;
    }

    .item-types img {
        height: 10vh;
    }

    .item-type-name span small {
        display: flex;
        font-size: 10px;
        justify-content: center;
        color: #000000;
    }

    .owl-carousel {
        display: block;
    }

    .carousel-img img {
        width: 100%;
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
        display: flex;
        margin-top: 0px;
        position: absolute;
        left: 40%;
        transform: translate(-30%, -100%);
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        margin: 5px 7px;
        background: #fbfafa;
        display: block;
        /* -webkit-backface-visibility: visible; */
        transition: opacity .2s ease;
        border-radius: 30px;
        border: 1px solid black;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        overflow: auto;
        margin-top: 10px;
        gap: 10px;
    }

    .cards .item-card img {
        width: 10em;
        height: 30vh;
        border-radius: 10px;
    }

    .grid {
        display: grid;
        gap: 5px;
        padding: 5px;
    }

    .item-cards-grid {
        width: 100%;
        background: #fff;
        height: 65vh;
        margin: auto;
    }

    .card-title {
        position: relative;
        display: grid;
        justify-content: flex-start;
        align-content: center;
        padding: 10px 10px;
    }

    .item-cards-grid span small {
        /* padding: 10px 10px; */
        font-size: 18px;
        color: #000000;
    }

    #item-grid-animation {
        animation: images-animation 10s;
        animation-iteration-count: infinite;
        background-position: 50% 30%;
        background-size: 10em 12em;
    }

    @keyframes images-animation {

        0% {
            background-image: url('../img/grid-animation/grid-animation-1.jpg');
            background-repeat: no-repeat;
        }

        25% {
            background-image: url('../img/grid-animation/grid-animation-2.jpg');
            background-repeat: no-repeat;
        }

        50% {
            background-image: url('../img/grid-animation/grid-animation-3.jpeg');
            background-repeat: no-repeat;
        }

        75% {
            background-image: url('../img/grid-animation/grid-animation-4.jpeg');
            background-repeat: no-repeat;
        }

        100%,
        0% {
            background-image: url('../img/grid-animation/grid-animation-5.jpg');
            background-repeat: no-repeat;
        }
    }

    .sub-card-item {
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }

    .sub-card-item img {
        width: 75%;
        margin: 10px;
        height: 15vh;
    }

    .animation {
        display: grid;
        width: 100%;
        height: 20em;
        z-index: -1;
    }

    .grid-container-mob {
        width: 100%;
        height: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        gap: 10px;
    }

    .item-img {
        border: none;
        width: 100%;
        background: none;
    }

    .img-grid {
        width: 90%;
    }

    .img-grid img {
        width: 100%;
        object-fit: contain;
        height: 20vh;
    }

    .item-title small {
        color: #000000
    }

    .show {
        display: grid;
        justify-items: center;
        padding: 10px 10px;
    }

    .item-img-show {
        width: 100%;
    }

    .show img {
        width: 100%;
    }
}