html {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: rgb(255, 255, 255);
}

@media screen and (min-width:401px) {

    .amazon-logo {
        display: flex;
        width: 30%;
        margin: auto;
        margin-bottom: 1em;
        justify-content: center;
    }

    .amazon-logo img {
        width: 30%;
        object-fit: contain;
    }

    .amazon-logo h4 {
        margin: 30px 0;
        color: #000000;
    }

    .password-reset-done {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 2em;
    }

    .password-reset-done h4,
    .password-reset-done h2 {
        color: #000000;
    }
}

@media screen and (max-width:400px) {
    .logo {
        display: flex;
        align-items: center;
        width: 100%;
        height: 5vh;
        padding: 0 10px;
        background-color: #232F3E;
    }

    .logo img {
        width: 20%;
        min-width: 70px;
        object-fit: contain;
    }

    .logo h5 {
        padding-bottom: 5px;
        max-height: 3vh;
        min-width: 10px;
    }

    .password-reset-done{
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-top: 1em;
        gap: 10px;
    }

    .password-reset-done h3,
    .password-reset-done h5 {
        color: #000000;
    }

    .delivery-footer {
        margin-top: 20px;
        background-color: #131A22;
    }

    .footer-content {
        display: flex;
        justify-content: space-evenly;
        padding: 10px 0;
    }

    .copyrights {
        display: flex;
        justify-content: space-around;
        padding: 15px 0;
    }
}