{% extends 'app/base.html' %}
{% load static %}

{% block title %}Account{% endblock %}

{% block style-account %}
<link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'app/css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'app/css/account.css' %}">
{% endblock %}

{% block main-content-desk-index %}
<div class="user-account">
    <div class="account-title">
        <h1>Your Account</h1>
    </div>
    <div class="account-change">
        <a href="{% url 'orders' %}" class="user-order">
            <div class="user-order-img">
                <img src="{% static 'app/img/account/order-box.png' %}" alt="">
            </div>
            <div class="order-content">
                <h3>Your Orders</h3>
                <small>Track, return, or buy things again</small>
            </div>
        </a>
        <a href="{% url 'profile' %}" class="login user-order">
            <div class="user-order-img">
                <img src="{% static 'app/img/account/lock.png' %}" alt="">
            </div>
            <div class="order-content">
                <h3>Login & security</h3>
                <small>Edit login, name and mobile number</small>
            </div>
        </a>
        <a href="{% url 'address' %}" class="address user-order">
            <div class="user-order-img">
                <img src="{% static 'app/img/account/address.png' %}" alt="">
            </div>
            <div class="order-content">
                <h3>Your Address</h3>
                <small>Edit addreses for orders and gifts</small>
            </div>
        </a>
        <a class="user-order">
            <div class="user-order-img">
                <img src="{% static 'app/img/account/pay.png' %}" alt="">
            </div>
            <div class="order-content">
                <h3>Amazon Pay balance</h3>
                <small>Add money to your balance</small>
            </div>
        </a>
        <a class="user-order">
            <div class="user-order-img">
                <img src="{% static 'app/img/account/wallet.png' %}" alt="">
            </div>
            <div class="order-content">
                <h3>Payment options</h3>
                <small>Edit or add payment methods</small>
            </div>
        </a>
        <a class="user-order">
            <div class="user-order-img">
                <img src="{% static 'app/img/account/prime.png' %}" alt="">
            </div>
            <div class="order-content">
                <h3>Prime</h3>
                <small>View benefits and payment settings</small>
            </div>
        </a>
    </div>
</div>
{% endblock %}

{% block main-content-mob-account %}
<div class="user-account-mob">
    <div class="account-title">
        <h1>Your Account</h1>
    </div>
    <div class="account-change">
        <a href="{% url 'orders' %}" class="user-order">
            <div class="order-content">
                <h3>Your Orders</h3>
                <i class="uil uil-angle-right-b"></i>
            </div>
        </a>
        <a href="{% url 'profile' %}" class="login user-order">
            <div class="order-content">
                <h3>Login & security</h3>
                <i class="uil uil-angle-right-b"></i>
            </div>
        </a>
        <a href="{% url 'address' %}" class="address user-order">
            <div class="order-content">
                <h3>Your Address</h3>
                <i class="uil uil-angle-right-b"></i>
            </div>
        </a>
        <a class="address user-order">
            <div class="order-content">
                <h3>Amazon Pay balance</h3>
                <i class="uil uil-angle-right-b"></i>
            </div>
        </a>
        <a class="address user-order">
            <div class="order-content">
                <h3>Payment options</h3>
                <i class="uil uil-angle-right-b"></i>
            </div>
        </a>
        <a class="address user-order">
            <div class="order-content">
                <h3>Prime</h3>
                <i class="uil uil-angle-right-b"></i>
            </div>
        </a>
    </div>
</div>
{% endblock %}

{% block js-account %}
<script src="{% static 'app/js/account.js' %}"></script>
{% endblock %}