{% extends 'app/base.html' %}
{% load static %}

{% block style-checkout %}
<link rel="stylesheet" href="{% static 'app/css/checkout.css' %}">
{% endblock %}

{% block title %}Checkout{% endblock %}

{% block main-content-desk-checkout %}
<div class="checkout-container">
    <div class="left-checkout-container">
        <div class="checkout-title">
            <h2>Review your order</h2>
            <small>By placing your order, you agree to Amazon's privacy notice and conditions to use.</small>
        </div>
        <div class="product-container">
            <div class="left-container">
                <div class="address-payment-container">
                    <div class="checkout-address-container">
                        <h5>Shipping address</h5>
                        {% for ad in add|slice:":1" %}
                        <small>{{ad.name}}</small>
                        <small>{{ad.address}}</small>
                        <small>{{ad.locality}}</small>
                        <small>{{ad.city}}, {{ad.state}} {{ad.zipcode}}</small>
                        <small>Phone, 0X0X0X0X0X0X</small>
                        <small>{{ad.country}}</small>
                        {% endfor %}
                    </div>
                    <div class="checkout-payment-container">
                        <h5>Payment method:</h5>
                        <small>Pay on delivery</small>
                    </div>
                </div>
                {% for item in cart_items %}
                <div class="product-checkout">
                    <div class="delivery-date">
                        <h3>Delivery date: </h3>
                        <h3>&nbsp;{{delivery_date}}</h3>
                    </div>
                    <div class="order-detail">
                        <div class="order-img">
                            <img src="{{item.product.product_image.url}}" alt="">
                        </div>
                        <div class="order-desc">
                            <h4>{{item.product.title}}</h4>
                            <div class="order-price">
                                <h4>₹ {{item.total_cost}}</h4>
                            </div>
                            <div class="quantity">
                                <h4>Quantity:</h4>
                                <small>{{item.quantity}}</small>
                            </div>
                        </div>
                        <div class="delivery-method">
                            <h4>Delivery Method:</h4>
                            <small>Standard delivery</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="right-container">
                <div class="right-checkout-container">
                    <form action="/paymentdone" id="myform" class="summary">
                        <input type="hidden" name="custid" value="{{custid}}">
                        <div class="place-order" id="paypal-button-container"></div>
                        <div class="summary-title">
                            <h4>Order Summary</h4>
                        </div>
                        <div class="order-sub-summary">
                            <div class="item-summary item">
                                <small>Items:</small>
                                <small>₹ {{item_amount}}</small>
                            </div>
                            <div class="delivery item">
                                <small>Delivery:</small>
                                {% if item_amount > 499 %}
                                <small>FREE Delivery</small>
                                {% else %}
                                <small>₹ 40.00</small>
                                {% endif %}
                            </div>
                        </div>
                        <div class="order-total">
                            <div class="total-price item">
                                <h3>Order Total:</h3>
                                {% if item_amount > 499 %}
                                <h3 id="price amount">₹ {{item_amount}}</h3>
                                {% else %}
                                <h3 id="price totalamount">₹ {{totalamount}}</h3>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block main-content-mob-checkout %}
<div class="checkout-container-mob">
    <div class="checkout-summary">
        <div class="checkout-address">
            {% for ad in add|slice:":1" %}
            <h3>Shipping to:</h3>
            <small class="user-add-mob">{{ad.name}}, {{ad.address}}</small>
            {% endfor %}
        </div>
        <div class="order-sub-summary">
            <div class="delivery item">
                <h3>Delivery:</h3>
                {% if item_amount > 499 %}
                <h3 class="free">FREE Delivery</h3>
                {% else %}
                <h3 class="free">₹ 40.00</h3>
                {% endif %}
            </div>
            <div class="total item">
                <h3>Items:</h3>
                <h3>₹ {{item_amount}}</h3>
            </div>
        </div>
        <div class="total-price item">
            <h3>Order Total:</h3>
            <h3>₹ {{item_amount}}</h3>
        </div>
    </div>
    <div class="product-summary">
        {% for item in cart_items %}
        <div class="product-checkout">
            <div class="delivery-date">
                <h3>Delivery date: {{delivery_date}}</h3>
            </div>
            <div class="order-detail">
                <div class="order-img">
                    <img src="{{item.product.product_image.url}}" alt="">
                </div>
                <div class="order-desc">
                    <h4>{{item.product.title}}</h4>
                    <div class="order-price">
                        <h4>₹ {{item.total_cost}}</h4>
                    </div>
                    <div class="quantity">
                        <h4>Quantity:</h4>
                        <small>{{item.quantity}}</small>
                    </div>
                    <div class="delivery-method quantity">
                        <h4>Delivery Method:</h4>
                        <small>Standard delivery</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="checkout-btn" id="paypal-button-container-mob"></div>
</div>
{% endblock %}

{% block js-checkout %}
<script
    src="https://www.paypal.com/sdk/js?client-id=AbU57w-WU2pGtqnocMVNWFcpfaRwBw5gVx4gDFw3kDmaIc-reJF_opxbF34hoj6FxPBydRdHmvufirxC"></script>

<!--Paypal for Desktop  -->
<script>
    // Checking Price
    var item_amount = '{{item_amount}}'
    // Render the PayPal button into #paypal-button-container
    if (item_amount > 499) {
        paypal.Buttons({
            // Set up the transaction
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{item_amount}}'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (orderData) {
                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    alert('Transaction ' + transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                    document.getElementById("myform").submit()
                    // actions.redirect('thankyou.html')

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }


        }).render('#paypal-button-container');
    }
    else {
        paypal.Buttons({
            // Set up the transaction
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{totalamount}}'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (orderData) {
                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    alert('Transaction ' + transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                    document.getElementById("myform").submit()

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                    // actions.redirect('thankyou.html')
                });
            }


        }).render('#paypal-button-container');
    }
</script>

<!-- Paypal for Mobile -->
<script>
    // Checking Price
    var item_amount = '{{item_amount}}'
    // Render the PayPal button into #paypal-button-container
    if (item_amount > 499) {
        paypal.Buttons({
            // Set up the transaction
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{item_amount}}'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (orderData) {
                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    alert('Transaction ' + transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                    document.getElementById("myform").submit()

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                    // actions.redirect('thankyou.html')
                });
            }


        }).render('#paypal-button-container-mob');
    }
    else {
        paypal.Buttons({
            // Set up the transaction
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{totalamount}}'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (orderData) {
                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    alert('Transaction ' + transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                    document.getElementById("myform").submit()

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                    // actions.redirect('thankyou.html')
                });
            }


        }).render('#paypal-button-container-mob');
    }
</script>

<script src="{% static 'app/js/checkout.js' %}"></script>
{% endblock %}