{% extends 'app/base.html' %}
{% load static %}

{% block title %}Edit address{% endblock %}

{% block style-editaddress %}
<link rel="stylesheet" href="{% static 'app/css/editaddress.css' %}">
{% endblock %}


{% block main-content-desk-editaddress %}
<div class="user-address">
    <div class="login-title">
        <h1>Edit Address</h1>
    </div>
    <form action="" method="post" class="user-form">
        {% csrf_token %}

        {% for fm in form %}
        <div class="user-add">
            {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
        </div>
        {% endfor %}
        <div class="save">
            <button type="submit" class="save-btn">Save</button>
            <a href="{% url 'deleteaddress' edit_add.id %}">Delete this address</a>
        </div>
    </form>
</div>
{% endblock %}

{% block main-content-mob-editaddress %}
<div class="user-address-mob">
    <div class="login-title">
        <h1>Edit Address</h1>
    </div>
    <form action="" method="post" class="user-form">
        {% csrf_token %}

        {% for fm in form %}
        <div class="user-add">
            {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
        </div>
        {% endfor %}
        <div class="save">
            <button type="submit" class="save-btn">Save</button>
            <a href="{% url 'deleteaddress' edit_add.id %}">Delete this address</a>
        </div>
    </form>
</div>
{% endblock %}

{% block js-editaddress %}
<script src="{% static 'app/js/editaddress.js' %}"></script>
{% endblock %}