{% extends 'app/base.html' %}
{% load static %}

{% block title %}Edit email{% endblock %}

{% block style-editemail %}
<link rel="stylesheet" href="{% static 'app/css/editemail.css' %}">
{% endblock %}


{% block main-content-desk-editemail %}
<div class="change-pass">
    <div class="change-pass-title">
        <h1>Change Email</h1>
    </div>
    <form action="" method="post" class="edit-name-form">
        {% csrf_token %}
        <div class="edit-name">
            {{form.label_tag}} {{form}}
        </div>
        <div class="save">
            <button>Save</button>
        </div>
    </form>
</div>
{% endblock %}

{% block main-content-mob-editemail %}
<div class="change-pass-mob">
    <div class="change-pass-title">
        <h1>Change Email</h1>
    </div>
    <form action="" method="post" class="edit-name-form">
        {% csrf_token %}
        <div class="edit-name">
            {{form.label_tag}} {{form}}
        </div>
        <div class="save">
            <button>Save</button>
        </div>
    </form>
</div>
{% endblock %}

{% block js-editemail %}
<script src="{% static 'app/js/editemail.js' %}"></script>
{% endblock %}