{% extends 'app/base.html' %}
{% load static %}

{% block style-emptycart %}
<link rel="stylesheet" href="{% static 'app/css/emptycart.css' %}">
{% endblock %}

{% block title %}Cart{% endblock title %}

{% block main-content-desk-emptycart %}
<div class="empty-cart">
    <img src="{% static 'app/img/empty-cart.png' %}" alt="">
</div>
{% endblock %}

{% block main-content-mob-emptycart %}
<div class="empty-cart-mob">
    <img src="{% static 'app/img/empty-cart.png' %}" alt="">
</div>
{% endblock %}

{% block js-emptycart %}
<script src="{% static 'app/js/emptycart.js' %}"></script>
{% endblock %}