{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon Clone | Login</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'app/css/login.css' %}">
</head>

<body>
    <!-- Login for Desktop -->
    <div class="login-desktop">
        <div class="amazon-logo">
            <img src="{% static 'app/img/amazon-black.png' %}" alt="">
            <h4>.in</h4>
        </div>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <div class="login-container">
                <div class="signin-container">
                    <div class="sign-in-title">
                        <h1>Sign-In</h1>
                    </div>
                    <div class="user-login">
                        {% for fm in form %}
                        <div class="user-input">
                            {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
                        </div>
                        {% endfor %}
                        <input type="submit" value="Continue" class="continue-btn">
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <p>{{error}}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="password-reset user-login">
                    <a href="{% url 'password_reset' %}">Forgot Username or Password ?</a>
                </div>
                <div class="continue user-login">
                    <small>By continuing, you agree to Amazon's Conditions of Use and Privacy Notice.</small>
                </div>
            </div>
            <div class="new-amazon user-login">
                <small>New to Amazon ?</small>
            </div>
            <div class="create-account">
                <a href="{% url 'customerregistration' %}" class="create">Create your Amazon account</a>
            </div>
        </form>
    </div>

    <!-- Login for Mobile -->
    <div class="login-mobile">
        <div class="logo">
            <img src="{% static 'app/img/amazon-logo.png' %}" alt="">
            <h5>.in</h5>
        </div>
        <div class="login-container-mob">
            <div class="welcome-title">
                <h1>Welcome</h1>
            </div>
            <div class="login-create">
                <div class="create">
                    <form action="" method="post" novalidate class="login-user">
                        {% csrf_token %}
                        <div class="login">
                            <h3>Sign-In.</h3><small>Already a customer?</small>
                        </div>
                        <div class="email" id="email">
                            {% for fm in form %}
                            <div class="login-form">
                                {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
                            </div>
                            {% endfor %}
                            {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                            <p>{{error}}</p>
                            {% endfor %}
                            {% endif %}
                            <a href="{% url 'password_reset' %}"><small>Forgot Username or Password ?</small></a>
                            <button class="create-mob">Continue</button>
                        </div>
                        <div class="new-amazon-mob">
                            <small>New to Amazon ?</small>
                        </div>
                        <a href="{% url 'customerregistration' %}" class="create-account-mob">Create your Amazon
                            Account</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="delivery-footer">
        <div class="footer-content">
            <small>Conditions of Use</small>
            <small>Privacy Notice</small>
            <small>Interest-Based Ads</small>
        </div>
        <div class="copyrights">
            <small>&copy;All rights reserved by Siddhat Totade</small>
        </div>
        </div>
    </footer>
</body>
<script src="{% static 'app/js/login.js' %}"></script>

</html>