{% extends 'app/base.html' %}
{% load static %}

{% block title %}Edit password{% endblock %}

{% block style-home %}
<link rel="stylesheet" href="{% static 'app/css/passwordchange.css' %}">
{% endblock %}

{% block main-content-desk-passwordchange %}
<div class="change-pass">
    <div class="change-pass-title">
        <h1>Change Password</h1>
    </div>
    <form action="" novalidate method="post">
        {% csrf_token %}
        {% for fm in form %}
        <div class="password-container">
            {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
        </div>
        {% endfor %}
        <div class="save">
            <input type="submit" value="Save">
        </div>
        <br>
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
        {% endif %}
    </form>
</div>
{% endblock %}

{% block main-content-mob-passwordchange %}
<!--Header for Mobile -->
<div class="change-pass-mob">
    <div class="change-pass-title">
        <h1>Change Password</h1>
    </div>
    <form action="" novalidate method="post">
        {% csrf_token %}
        {% for fm in form %}
        <div class="password-container">
            {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
        </div>
        {% endfor %}
        <div class="save">
            <input type="submit" value="Save">
        </div>
        <br>
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
        {% endif %}
    </form>
</div>
{% endblock %}

{% block js-passwordchange %}
<script src="{% static 'app/js/passwordchange.js' %}"></script>
{% endblock %}

</html>