{% extends 'app/base.html' %}
{% load static %}

{% block style-address %}
<link rel="stylesheet" href="{% static 'app/css/selectaddress.css' %}">
{% endblock %}

{% block title %}Select address{% endblock %}

{% block main-content-desk-address %}
<!-- Address for Desktop -->
<div class="select-address-container">
    <div class="select-address">
        <div class="address-title">
            <h1>Select a delivery address</h1>
            <p>
                Is the address you'd like to use displayed below? If so, click the corresponding "Deliver to this
                address" button. Or you can enter a new delivery address.
            </p>
        </div>
        <div class="loop-address-container">
            {% for add in address %}
            <div class="current-address">
                <div class="user-name">
                    <h2>{{add.name}}</h2>
                </div>
                <div class="user-add">
                    <div class="user-address-container">
                        <div class="locality name">
                            <h5>Address:</h5>
                            <small>{{add.address}}</small>
                        </div>
                        <div class="locality name">
                            <h5>Locality:</h5>
                            <small>{{add.locality}}</small>
                        </div>
                        <div class="city name">
                            <h5>City:</h5>
                            <small>{{add.city}}</small>
                        </div>
                        <div class="state name">
                            <h5>State:</h5>
                            <small>{{add.state}}</small>
                        </div>
                        <div class="pin name">
                            <h5>Pin:</h5>
                            <small>{{add.zipcode}}</small>
                        </div>
                        <div class="pin name">
                            <h5>Country:</h5>
                            <small>{{add.country}}</small>
                        </div>
                    </div>
                </div>
                <form action="/payment/{{product_id.id}}" class="deliver-button">
                    <input type="hidden" name="custid" value="{{add.id}}" id="">
                    <input type="submit" name="" value="Deliver to this address" id="">
                </form>
                <div class="edit-del-button">
                    <a href="{% url 'editaddress' add.id %}" class="edit">Edit</a>
                    <a href="{% url 'deleteaddress' add.id %}" class="delete">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="add-address select-address">
        <div class="add-address-title">
            <h2>Add a new Address</h2>
        </div>
        <form action="" method="post" class="user-form">
            {% csrf_token %}
            {% for fm in form %}
            <div class="user-add">
                {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
            </div>
            {% endfor %}
            <div class="save">
                <button class="save-btn">Use this address</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block main-content-mob-address %}
<!-- Address for mobile -->
<header class="header-mob-address">
    <div class="address-container">
        <div class="address-title">
            <h2>Select a delivery address</h2>
        </div>
        {% for add in address %}
        <div class="user-address-loop">
            <div class="address-box">
                <div class="user-address">
                    <h4>{{add.name}}</h4>
                    <p>{{add.address}}, {{add.locality}}, {{add.city}}, {{add.state}}, {{add.state}}, {{add.zipcode}}
                    </p>
                    <p>
                        Phone number: X1X2X3X4X5
                    </p>
                </div>
            </div>
            <div class="delivery-buttons">
                <form action="/payment/{{product_id.id}}" class="deliver-form">
                    <input type="hidden" name="custid" value="{{add.id}}" id="">
                    <input type="submit" name="" value="Deliver to this address" id="">
                </form>
                <div class="edit-btn">
                    <a href="{% url 'editaddress' add.id %}" class="edit">Edit</a>
                    <a href="{% url 'deleteaddress' add.id %}" class="delete">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="new-address">
            <a href="{% url 'addaddress' %}" class="add-address">Add a new address
                <i class="uil uil-angle-right-b"></i>
            </a>
            <a class="pickup-location add-address">Find a pickup location near you
                <i class="uil uil-angle-right-b"></i>
            </a>
        </div>
    </div>
</header>
{% endblock %}

{% block js-address %}
<script src="{% static 'app/js/selectaddress.js' %}"></script>
{% endblock %}