body {
    background: rgb(255, 255, 255);
}

/* Media Query for Desktop */
@media screen and (min-width:401px) {

    .cart-container {
        width: 80%;
        margin: auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        margin-bottom: 18em;
        gap: 10px;
    }

    .cart-title h1 {
        padding: 15px 0;
    }

    .cart-container h1,
    .cart-container h3,
    .cart-container span,
    .cart-container label,
    .cart-container h2 {
        color: #000000;
    }

    .shopping-cart {
        display: grid;
        width: 80%;
        gap: 20px;
        padding: 20px 10px;
        margin-top: 1em;
        border: 2px solid gainsboro;
        border-radius: 5px;
    }

    .price {
        display: grid;
        justify-content: flex-end;
        padding-right: 70px;
        border-bottom: 1px solid gainsboro;
        border-top: 1px solid gainsboro;
        padding: 10px 70px;
        border-radius: 5px;
    }

    .price small {
        color: #000000;
    }

    .cart-product-content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 35px;
        border-bottom: 1px solid gainsboro;
        padding: 20px 0;
    }

    .cart-product-content input {
        width: 2%;
        height: 2vh;
    }

    .cart-product-content input:hover {
        cursor: pointer;
    }

    .cart-img {
        width: 20%;
        height: 20vh;
    }

    .cart-img img {
        width: 100%;
        height: 20vh;
        object-fit: contain;
    }

    .cart-content {
        display: grid;
        width: 55%;
        gap: 20px;
    }

    .free-ship {
        color: #009905;
    }

    .gift {
        display: flex;
        align-items: center;
    }

    .gift small {
        color: #000000;
        padding: 0 10px;
    }

    .product-counter {
        display: flex;
        gap: 15px;
    }

    .product-counter a {
        cursor: pointer;
    }

    .product-counter i {
        color: #000000;
    }

    .remove-cart {
        text-decoration: none;
        width: 60px;
        font-size: 15px;
        border-radius: 5px;
        border: none;
        background: none;
        color: #007cfb;
    }

    .counter {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .proceed {
        width: 20%;
        display: grid;
        justify-content: center;
        align-items: center;
        height: 20vh;
    }

    .proceed i {
        font-size: 25px;
    }

    .checkout {
        width: 100%;
    }

    .free-delivery {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .free-delivery i,
    .free-delivery small {
        color: #009905;
    }

    .subtotal {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .checkout button {
        cursor: pointer;
        text-decoration: none;
        color: #000000;
        background-color: yellow;
        border: none;
        padding: 10px 50px;
        border-radius: 5px;
    }
}

/* Media Query for Mobile */
@media screen and (max-width:400px) {

    .cart-container-mob {
        padding: 20px 10px;
    }

    .cart-container-mob h2,
    .cart-container-mob h4 {
        color: #000000;
    }

    .cart-container-mob i {
        font-size: 25px;
        color: #009905;
    }

    .cart-container-mob small {
        color: #009905;
    }

    .total {
        display: grid;
        padding: 10px 0;
        gap: 15px;
        border-bottom: 1px solid gainsboro;
    }

    .cart-title {
        display: flex;
        align-items: center;
    }

    .checkout-mob button {
        width: 100%;
        padding: 0 100px;
        height: 4vh;
        border-radius: 5px;
        border: none;
        background-color: yellow;
        color: #000000;
    }

    .cart-product {
        display: flex;
        gap: 10px;
        align-items: center;
        border-bottom: 1px solid gainsboro;
        padding: 20px 0;
    }

    .product-image {
        width: 60%;
    }

    .cart-product img {
        width: 100%;
        height: 25vh;
        object-fit: scale-down;
    }

    .product-content {
        width: 90%;
        display: grid;
        gap: 10px;
    }

    .product-counter {
        width: 80%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .product-counter i {
        background-color: rgb(228, 228, 228);
        border-radius: 5px;
    }

    .product-counter i,
    .product-counter span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 15px;
        padding: 5px 5px;
        color: #000000;
    }

    .product-counter .remove-cart-mob {
        display: flex;
        align-items: center;
        color: #007cfb;
    }

    .product-counter .minus-cart,
    .product-counter .plus-cart {
        border-radius: 5px;
        border: none;
        font-size: 20px;
        color: #000000;
    }

    .delete {
        color: #007cfb;
        background: none;
        border: none;
        width: 30%;
    }
}