body {
    background: #fff;
}

/* Media Query for Desktop */
@media screen and (min-width:401px) {

    .change-pass {
        width: 80%;
        display: grid;
        margin: auto;
        gap: 20px;
        padding: 10px 10px;
        margin-bottom: 15em;
    }

    .change-pass h1 {
        color: #000000;
    }

    .edit-name-form {
        width: 40%;
    }

    .edit-name label {
        color: #000000;
    }

    .edit-name {
        display: grid;
    }

    .edit-name-form input {
        height: 4vh;
        border: 2px solid gainsboro;
        border-radius: 5px;
        color: #000000;
        padding: 10px 10px;

    }

    .save {
        margin-top: 1em;
    }


    .save button {
        padding: 10px 20px;
        background-color: yellow;
        color: #000000;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}


/* Media Query for Mobile */
@media screen and (max-width:400px) {

    .change-pass-mob {
        display: grid;
        margin: auto;
        gap: 20px;
        padding: 10px 10px;
    }

    .change-pass-mob h1 {
        color: #000000;
    }

    .edit-name label {
        color: #000000;
    }

    .edit-name {
        display: grid;
    }

    .edit-name-form input {
        height: 4vh;
        border: 2px solid gainsboro;
        border-radius: 5px;
        color: #000000;
        padding: 10px 10px;

    }

    .save {
        margin-top: 1em;
    }

    .save button {
        padding: 10px 20px;
        background-color: yellow;
        color: #000000;
        border: none;
        border-radius: 5px;
    }
}