body {
    background: rgb(255, 255, 255);
}

/* Media Query for Desktop */
@media screen and (min-width:401px) {
    .empty-product-desk {
        width: 80%;
        display: grid;
        gap: 20px;
        margin: auto;
        margin-bottom: 17em;
        padding: 10px;
    }

    .empty-product-desk h1 {
        color: rgb(255, 0, 0);
    }

    .empty-product-desk h3 {
        color: #000000;
    }
}

@media screen and (max-width:400px) {
    .empty-product-mob {
        width: 100%;
        display: grid;
        gap: 20px;
        padding: 10px;
        margin-bottom: 2em;
    }

    .empty-product-mob h1 {
        color: rgb(255, 0, 0);
    }

    .empty-product-mob h3 {
        color: #000000;
    }
}