@media screen and (min-width:401px) {

    .product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        margin-bottom: 17em;
        width: 80%;
        padding: 0 10px;
        background-color: #fff;
    }

    .product-img {
        display: grid;
        background: #fff;
        border: 1px solid gainsboro;
        border-radius: 5px;
    }

    .big-img {
        width: 95%;
        height: 60vh;
        align-items: center;
        align-content: center;
        margin: auto;
    }

    .big-img img {
        margin: auto;
        width: 90%;
        padding: 10px 10px;
        height: 59vh;
        display: grid;
        object-fit: contain;
    }

    .small-img-container a {
        margin: auto;
    }

    .xzoom-thumbs {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: auto;
        gap: 10px;
    }

    .xzoom-thumbs img {
        width: 100px;
        height: 8vh;
        object-fit: contain;
        border: 1px solid #282838;
    }

    .product-about {
        display: grid;
        justify-items: center;
        background-color: #fff;
    }

    .product-about h3,
    .product-about h1,
    .product-about h4,
    .product-about li,
    .product-about td,
    .product-about strong,
    .product-about th,
    .product-about button {
        color: #000000;
    }

    .product-name {
        width: 95%;
        margin: auto;
        margin: 10px 10px;
    }

    .product-price {
        height: 5vh;
        padding: 10px 0;
    }

    .product-offers {
        height: 31vh;
    }

    .product-colors {
        display: grid;
        grid-template-columns: repeat(5, 40px);
        align-content: center;
        gap: 5px;
    }

    .color {
        width: 100%;
    }

    .show-more-desc {
        display: flex;
        align-items: center;
    }

    #list-item p {
        color: #000000;
        /* display: -webkit-box;
        -webkit-line-clamp: 13;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; */
    }

    #list-item a,
    #list-item i {
        cursor: pointer;
        color: #005398;
    }

    #list-item-more {
        display: none;
    }

    #list-item-more p {
        color: #000000;
    }

    #list-item-more a,
    #list-item-more i {
        cursor: pointer;
        color: #005398;
    }

    .product-short-desc ul {
        margin: 0 25px;
    }

    .product-description {
        grid-column: 1/3;
        margin-top: 3em;
    }

    table {
        width: 100%;
        border-radius: 5px;
        border-spacing: 0;
        border: 1px solid rgb(200, 198, 198);
    }

    th {
        display: flex;
        align-items: center;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    td,
    th img {
        width: 5%;
        margin-right: 10px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .buy {
        display: flex;
        gap: 20px;
    }

    .buy a {
        padding: 10px 25px;
        border-radius: 30px;
        text-decoration: none;
        color: #000000;
        background-color: #fda22c;
        font-size: medium;
    }

    .buy button {
        padding: 10px 25px;
        border-radius: 30px;
        font-size: medium;
        border: none;
        color: #000000;
        background-color: #fda22c;
    }

    .buy button:hover {
        cursor: pointer;
    }

    .product-description-img {
        display: grid;
    }

    .product-description-img img {
        width: 90%;
        margin: auto;
    }

    .product-title {
        display: grid;
        justify-content: center;
        padding-top: 50px;
    }

    .product-subtitle {
        display: grid;
        justify-content: center;
        padding-top: 15px;
    }

    .product-detail-table {
        width: 100%;
        padding: 10px 10px;
    }

    .product-detail-table strong {
        padding-right: 40px;
    }

    td,
    th {
        border: none;
    }

    .review {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
        gap: 10px;
        padding: 20px 10px;
    }

    .review-left {
        display: grid;
        gap: 10px;
    }

    .stars {
        width: 25%;
        height: 2vh;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .star {
        width: 15%;
    }

    .checked {
        color: orange;
    }

    .unchecked {
        color: #8f8f9c;
    }

    .review-right {
        display: grid;
        gap: 10px;
    }

    .bar {
        display: flex;
        align-items: center;
        padding: 10px 0;
    }

    .review-bar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 50%;
        height: 3vh;
        background: #c8d1d1;
        margin: 0px 33px;
        border-radius: 5px 5px 5px 5px;
    }

    .fill-5 {
        width: 170%;
        background-color: orange;
    }

    .fill-4 {
        width: 143%;
        background-color: orange;
    }

    .fill-3 {
        width: 95%;
        background-color: orange;
    }

    .fill-2 {
        width: 70%;
        background-color: orange;
    }

    .fill-1 {
        width: 20%;
        background-color: orange;
    }

    .fill {
        border-radius: 5px;
    }

    .review-right {
        display: grid;
    }

    .review-container {
        display: grid;
        margin: 10px;
        gap: 1em;
        border-bottom: 1px solid #8f8f9c;
    }

    .review {
        background-color: #fff;
    }

    .review-content {
        margin-bottom: 20px;
    }

    .review h2,
    .review h5,
    .review p,
    .review h4 {
        color: #000000;
    }

    .user-rev {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .user-rev i {
        background-color: #8f8f9c;
        border-radius: 30px;
        font-size: 2em;
    }

    .user-star {
        display: flex;
    }

    .user-star strong {
        padding: 0 10px;
    }

    .user-rev strong {
        padding: 0 10px;
    }
}

@media screen and (max-width:400px) {

    .product-mob {
        overflow: hidden;
    }

    .product-carousel {
        background-color: #fff;
        padding: 10px 10px;
    }

    .product-carousel small,
    .product-carousel h3,
    .product-carousel h4,
    .product-carousel strong {
        color: #000000;
    }

    .product-color {
        display: grid;
        gap: 10px;
        margin-top: 10px;
        background-color: #fff;
    }

    .product-color p,
    .product-color h4,
    .product-color h3 {
        color: #000000;
    }

    .product-color-img {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        overflow: scroll;
        padding: 0 5px;
    }

    .color-img {
        display: grid;
        justify-items: center;
        height: 20vh;
        width: 94%;
        padding: 0 20px;
        border: 2px solid rgb(159, 153, 153);
    }

    .color-img img {
        width: 100px;
        margin: auto;
        object-fit: contain;
    }


    .price-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        height: 10vh;
        overflow: scroll;
    }

    .price-box-inner {
        padding: 10px 15px;
        margin: 0 5px;
        border: 2px solid rgb(159, 153, 153);
    }

    .product-offer {
        display: grid;
        gap: 10px;
        margin-top: 10px;
        background-color: #fff;
    }

    .product-offer td,
    .product-offer th,
    .product-offer h2,
    .product-offer h4,
    .product-offer h5,
    .product-offer p,
    .product-offer li,
    .product-offer strong,
    .product-offer button {
        color: #000000;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    th {
        display: flex;
        align-items: center;
    }

    td,
    th {
        text-align: left;
        padding: 8px;
    }

    td,
    th img {
        width: 12%;
        margin-right: 10px;
        object-fit: contain;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .buy-buttons {
        display: grid;
        width: 100%;
        gap: 10px;
        justify-content: center;
    }

    .buy-buttons button,
    .buy-buttons a {
        color: #000000;
        text-decoration: none;
        padding: 10px 120px;
        margin-bottom: 10px;
        background-color: #fda22c;
        border: none;
        font-size: medium;
        border-radius: 5px;
    }

    .product-details {
        padding: 10px 10px;
    }

    .detail-title {
        padding: 5px;
    }

    .details-small {
        display: grid;
        overflow: hidden;
    }

    .details-img-container {
        display: grid;
    }

    .details-img-container img {
        width: 100%;
    }

    .details-desc {
        margin-left: 5%;
    }

    .review-left {
        margin: 10px 10px;
    }

    .stars {
        display: flex;
    }

    .star {
        padding: 0 3px;
    }

    .outof {
        padding: 0 10px;
    }

    .checked {
        color: orange;
    }

    .unchecked {
        color: #8f8f9c;
    }

    .bar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .review-bar {
        display: flex;
        width: 80%;
        height: 2vh;
        background-color: #c4c9c9;
        margin: 10px 10px;
        border-radius: 3px;
    }

    .fill-5 {
        background-color: orange;
        width: 80%;
    }

    .fill-4 {
        background-color: orange;
        width: 61%;
    }

    .fill-3 {
        background-color: orange;
        width: 55%;
    }

    .fill-2 {
        background-color: orange;
        width: 13%;
    }

    .fill-1 {
        background-color: orange;
        width: 25%;
    }

    .fill {
        border-radius: 3px;
    }

    .review-container {
        display: grid;
        margin: 30px 10px;
        gap: 5px;
    }

    .user {
        display: flex;
        align-items: center;
    }

    .user i {
        font-size: 30px;
        background-color: #acacac;
        border-radius: 50px;
    }

    .user strong {
        padding-left: 10px;
    }
}